body {
  text-align: center;
  background-color: #B2EBF2; /* Sfondo celestino chiaro */
}

h1 {
  color:  #0c169c; /* Blu scuro */
  font-size: 50px;
  margin-bottom: 10px;
}

h2 {
  color: #5C6BC0; /* Blu lavanda */
  font-size: 30px;
  margin-bottom: 20px;
}

button {
  font-size: 18px;
 
  background-color: #7E57C2; /* Viola medio */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
/*
button:hover {
  background-color: #5E35B1;  Viola scuro al passaggio del mouse 
}
*/