body {
  text-align: center;
  background-image: url("../assets/horse.jpg");
  background-size: cover; /* Copre tutto lo spazio dell'elemento */
  background-position: center; /* Centra l'immagine */
  background-color: #b2ebf2; /* Celestino chiaro */
  margin: 0; /* Rimuove il margine di default del body */
  display: flex; /* Rende il body flessibile */
  justify-content: center; /* Centra il contenuto orizzontalmente */
  align-items: flex-start; /* Allinea il contenuto nella parte superiore */
  min-height: 100vh; /* Altezza minima del 100% della viewport */
  overflow-y: auto; /* Permette lo scrolling verticale */
}

.homepage {
  width: 100%; /* Occupa tutta la larghezza disponibile */
  max-width: 800px; /* Larghezza massima per la homepage */
  padding: 20px; /* Padding per il contenuto */
  box-sizing: border-box;
}

.finstagram {
  color: rgb(19, 92, 195);
}

h1 {
  color: #0c169c; /* blu scuro */
  font-size: 50px;
  margin-bottom: 10px;
}

h2 {
  color: #5c6bc0; /* Blu lavanda */
  font-size: 30px;
  margin-bottom: 20px;
}

/*button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #7E57C2; 
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

} */
/*
button:hover {
  background-color: #5E35B1;  Viola scuro al passaggio del mouse 
}
*/
.home-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px; /* Spazio tra gli elementi */
  padding: 20px; /* Padding per il form */
  box-sizing: border-box; /* Include il padding nella dimensione totale dell'elemento */
  width: 100%; /* Occupa tutta la larghezza disponibile */
  max-width: 400px; /* Larghezza massima per il form */
  border: 2px solid #5c6bc0; /* Bordo blu lavanda */
  border-radius: 10px; /* Angoli arrotondati */
  background-color: #939491;
}

.home-form input {
  padding: 10px;
  margin: 5px;
  width: 100%; /* Occupa la larghezza completa del modulo */
  border: 1px solid #ccc; /* Aggiunge un bordo agli input */
  border-radius: 5px; /* Aggiunge angoli arrotondati agli input */
  box-sizing: border-box; /* Include il padding nella dimensione totale dell'input */
}

.home-form button {
  padding: 10px 20px; /* Padding orizzontale per migliorare l'aspetto */
  margin: 10px;
  color: white;
  background-color: #7e57c2; /* Viola medio */
  border: none; /* Rimuove il bordo di default del pulsante */
  border-radius: 5px; /* Angoli arrotondati al pulsante */
}

/*.home-form button:hover {
  background-color: #5E35B1;  Viola scuro al passaggio del mouse
}
 */

.Contents {
  margin: 5vh;
}
