.Login{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 30px;
    
}
h1{
    color:red
}
body {
    background-color: rgba(17, 104, 210, 0.823);
    
}
button{
    padding: 10px ;
    margin:10px;
    color:white;
    background-color:rgba(0, 128, 47, 0.688) ;
}
